.container-fluid {
  background: rgb(6, 137, 189);
  width: 110vw;
  display: flex;
  justify-content: center;
  flex: auto;
  align-items: stretch;
  align-items: baseline;
  margin-bottom: 20px;
  margin-top: 0;
}
