<!-- 
<div class="container-fluid">
  <h1>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
        <mat-icon aria-hidden="false" >home</mat-icon>
    <mat-toolbar-row>
     <span>ShowFlix&copy;</span>
    
      </mat-toolbar-row>
    <form id="form">
      <input type="search" id="query" name="q" placeholder="Search..." />
      <button>Search</button>
    </form>
  </h1>
</div> -->

<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <h1><span><mat-icon aria-hidden="false">home</mat-icon>
      ShowFlix</span></h1>
</mat-toolbar-row>
<mat-toolbar-row>
  <h1><form id="form">
    <input type="search" id="query" name="q" placeholder="Search..." />
    <button>Search</button>
  </form></h1>
</mat-toolbar-row>
</mat-toolbar>
