.image{
    z-index: -1;
 position: fixed;
 top: 0px;
 left: 0px;
 width: 116%;
 height: 116%;
 background-size:cover;
 background-position:center; 
   background-color: pink;
 opacity: .3;
 overflow: hidden;
 
}

.creator{
  position: fixed;
  font-family: 'Dancing Script', cursive;
  position:fixed; bottom:0;
  margin-left: 500px;
  font-size:large;
}
